<h1>TeX Generation Failed</h1>

TeX Generation Failed

<p>message: {{ error.message }}</p>
<p>returncode: {{ error.returncode }}</p>

<h3>stdout</h3>
<pre>{{ error.stdout }}</pre>

<h3>stderr</h3>
<pre>{{ error.stderr }}</pre>